.TextField {
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
}

.TextField input {
  padding: 0.6rem 0.6rem;
  font-size: 1em;
  font-weight: 500;
  transition: border-color 0.25s;
  width: 15rem;
}

.TextField .error {
  color: #d44;
  margin: 0;
}

.TextField input:focus-visible,
.TextField input:focus {
  border-radius: 5px;
  outline: 4px auto -webkit-focus-ring-color;
  outline-color: #ddd;
}

@media (prefers-color-scheme: light) {
  .TextField input:focus-visible,
  .TextField input:focus {
    outline-color: #333;
  }

  .TextField input:hover {
    outline: 4px auto -webkit-focus-ring-color;
    outline-color: #999;
  }
}
